body{
    margin: 0;
}
.top-container{
    background: url('file:///storage/emulated/0/Download/india-g15fdb4c56_1920.jpg');
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-container h1{
    color: white;
    font-size: 80px;
    font-family: Impact;
    letter-spacing: 5px;
    
    
}
.text{
    margin: 50px 5%;
    font-family: 'Noto Serif Display', serif;
}
.navbar{
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgb(0,0,0,0.3);
    transition: background-color 0.4s;
}
.navbar ul{
    display: flex;
    list-style-type: none;
}
.navbar ul li a{
    text-decoration: none;
    margin: 0 10px;
    color: black;
    font-family: cursive;
}
.navbar ul li a:hover{
    color: red;
}
.navbar.active{
    background-color: black;
}
.navbar.active ul li a{
    color: white;
}
